
<!DOCTYPE html>
<html>
    @*<head>
        <title>
            Demo Project
        </title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>*@
    <body>
        <div class="page-content text-center">
            <h2>Welcome to Demo Project</h2>
        </div>
    </body>
</html>